.Modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0003;
  animation: fade-in 250ms ease-in-out;
  .modal-wrapper {
    max-width: 500px;
    margin: 10vh auto 0;
    animation: slide-down-2 250ms ease-in-out;
    background: #fafafa;
    box-shadow: 0 0 15px 0 #0002;
  }
  .modal-header {
    padding: 15px;
    font-size: 22px;
    border-bottom: none;
  }
  .modal-body {
    padding: 40px 20px 10px;
    max-height: 42vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .modal-footer {
    padding: 5px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: none;
    & > * + * {
      margin-left: 20px;
    }
  }
}
