@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.App {
  max-width: 1000px;
  margin: auto;
  header {
    text-align: center;
  }
  .logo {
    width: auto;
    height: 30px;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
    color: #2f547c;
    font-weight: bold;
    font-style: normal;
  }
  h2 {
    font-size: 11px;
    line-height: 13px;
    color: #666666;
    font-weight: normal;
    font-style: italic;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stats {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    .count {
      font-size: 30px;
    }
    &.large {
      font-size: 33px;
      .count {
        font-size: 55px;
      }
    }
  }
  .photo {
    margin-bottom: 50px;
    img {
      max-width: 100px;
    }
  }
  .pending,
  .hi-residents-outside {
    font-weight: bold;
    .value {
      font-size: 1.2em;
      display: inline-block;
      margin-left: 5px;
    }
  }
  .hi-residents-outside { 
    margin-bottom: 20px;
  }
  .other-numbers {
    @include media-breakpoint-down(sm) {
      order: 3;
      padding-bottom: 40px;
    }
  }
  .dropdown {
    .form-control {
      width: auto;
      min-width: 125px;
    }
  }
  svg {
    min-width: 14px;
    transform: translateY(7px);
    margin-right: 5px;
  }
}
