@import "~bootstrap/scss/bootstrap";

.App {
  max-width: 1000px;
  margin: auto;
  header {
    text-align: center;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
    color: #2f547c;
    font-weight: bold;
    font-style: normal;
  }
  h2 {
    font-size: 11px;
    line-height: 13px;
    color: #666666;
    font-weight: normal;
    font-style: italic;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stats {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    .count {
      font-size: 30px;
    }
    &.large {
      font-size: 33px;
      .count {
        font-size: 55px;
      }
    }
  }
  .photo {
    margin-bottom: 50px;
    img {
      max-width: 100px;
    }
  }
  .pending,
  .hi-residents-outside {
    & > span:nth-child(2) {
      margin: 0 10px;
    }
    & > span:nth-child(3) {
      font-weight: bold;
    }
  }
  .hi-residents-outside { 
    margin-bottom: 20px;
  }
  .other-numbers {
    @include media-breakpoint-down(xs) {
      order: 3;
    }
  }
}
